// -webkit-font-smoothing: antialiased;
//     moz-osx-font-smoothing: grayscale;
//     font: normal normal 16px/150% 'Lato-Regular', 'Helvetica', sans-serif;


@font-face {
  font-family: 'Volte Light';
  src: url(../fonts/volte/Volte_Light.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Volte Light Italic';
  src: url(../fonts/volte/Volte_Light_Italic.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Volte Regular';
  src: url(../fonts/volte/Volte_Regular.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Volte Regular Italic';
  src: url(../fonts/volte/Volte_Regular_Italic.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: 'Volte Medium';
  src: url(../fonts/volte/Volte_Medium.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Volte Medium Italic';
  src: url(../fonts/volte/Volte_Medium_Italic.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Volte Semibold';
  src: url(../fonts/volte/Volte_Semibold.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Volte Semibold Italic';
  src: url(../fonts/volte/Volte_Semibold_Italic.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Volte Bold';
  src: url(../fonts/volte/Volte_Bold.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Volte Bold Italic';
  src: url(../fonts/volte/Volte_Bold_Italic.otf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
