//typography variables
$volte-lgt: "Volte Light";
$volte-lgtti:'Volte Light Italic';
$volte-rgl: 'Volte Regular';
$volte-rgli: 'Volte Regular Italic';
$volte-md: 'Volte Medium';
$volte-mdi: 'Volte Medium Italic';
$volte-smb: 'Volte Semibold';
$volte-smbi: 'Volte Semibold Italic';
$volte-bld: 'Volte Bold';
$volte-bldi: 'Volte Bold Italic';


//font-family
$volte     : "Volte";

//weights
$light     : "Light"; //300
$regular   : "Regular"; //400
$medium    : "Medium"; //500
$semibold  : "Semibold"; //600
$bold      : "Bold"; //bold



//Primary colors

$white         : #ffffff;
$accent-color  : #01d9b6;

$charcoal-grey : #2e3039; //primary text color
$dark-grey     : #313547;
$light-grey    : #F9FAFC;
// Mood Colors

 $success      : #03B825;
// $danger: #e04551;
// $warning: #ffde52;
// $info: #4a73fa;


//secondary colors



//font-sizes:
$basefont: 16;
$h1    : #{80 / $basefont}rem;
$h2    : #{60 / $basefont}rem;
$h3    : #{35 / $basefont}rem;
$h4    : #{30 / $basefont}rem;
$h5    : #{24 / $basefont}rem;
$h6    : #{18 / $basefont}rem;
$normal: #{16 / $basefont}rem;
$small : #{12 / $basefont}rem;
$xsmall: #{10 / $basefont}rem;

//spacing sizes

$spacing-none: 0;
$spacing-xs  : torem(5);
$spacing-sm  : torem(10);
$spacing-md  : torem(15);
$spacing-lg  : torem(20);
$spacing-xlg : torem(30);
$spacing-xxlg: torem(60);
$spacing-xxxlg: torem(100);


$avatar:  '[class*="avatar-"]';


//animation variable

$cubic-bezier:  'cubic-bezier(0.6, -0.28, 0.74, 0.05)';
