{% extends 'base.html' %}

{% load staticfiles %}
{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}
{% load account_tags %}

{% block content %}
<main>
        <article class="blog-index">
            {% if page.featured_blog %}

            {% image page.featured_blog.main_image fill-462x272 as hero_img %}

            <section class="feature-article">
                <div class="container">
                    <div class="row">

                        {% if hero_img %}
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img src="{{hero_img.url}}" data-rjs="3" class="mb-4" >
                        </div>
                        {% endif %}
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h2><a href="{% pageurl page.featured_blog %}">{{ page.featured_blog.title }}</a></h2>
                            {{ page.featured_blog.body | truncatechars:"100" | safe }}
                          
                            <div class="catergory-tags">
                               {% for tag in page.featured_blog.tags.all %}
                                <a href="{% routablepageurl request.site.root_page.specific 'tag_archive' tag %}">#{{tag}}</a>
                               {% endfor %}
                           </div>
                           <div class="d-flex justify-content-between pt-3">
                               <div>
                                   <small>5 Mins read</small>
                                   <div class="pt-1">
                                      <a href="">
                                          <img src="{% static 'images/icons/facebook-f.png' %}" class="img-fluid mr-2" data-rjs="3">
                                      </a>
                                      <a href="">
                                          <img src="{% static 'images/icons/twitter.png' %}" class="img-fluid" data-rjs="3">
                                      </a>
                                  </div>
                               </div>
                               <div class="author-details">
                                  <div class="avatar-sm mr-3" style="background-image: url('{% user_avatar_url page.featured_blog.owner %}')" data-rjs="2" data-rjs-processed="true"></div>
                                  <div>
                                  <h6 class="mb-0"><strong>{{ page.featured_blog.owner.fullname }}</strong></h6>
                                  <p>{{  page.featured_blog.owner.position_verbose | title }}</p>
                                  </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            <section class="container blog--list">
                    {% for post in posts %}
                        <div class="blog--list__item">
                                {% image post.main_image fill-462x272 as post_image %}
                                {% if post_image %}
                                <img src="{{ post_image.url }}" data-rjs="3" class="blog--list__item__img">
                                {% endif %}
                                <a href="{% pageurl post %}" class="title-strong h5">{{ post.title }}</a>
                                <p class="blog--list__item__preview">
                                    {{ post.body | truncatechars:"300" | richtext }}
                                </p>
                                <div class="catergory-tags mb-4">
                                    {% for tag in page.featured_blog.tags.all %}
                                        <a href="{% routablepageurl request.site.root_page.specific 'tag_archive' tag %}">#{{tag}}</a>
                                    {% endfor %}
                               </div>
                               <small>5 Mins read</small>
                               <div class="author-details mt-4">
                                    {% image post.main_image fill-462x272 as post_image %}
                                    <div class="avatar-sm mr-3" style="background-image: url('{{ post.owner.avatar.url }}')" data-rjs="2"> </div>

                                    <div>
                                        <h6 class="mb-0"><strong>{{ post.owner.fullname }}</strong></h6>
                                        <p>{{ post.owner.position_verbose | title }}</p>
                                    </div>
                              </div>
                        </div>
                    {% endfor %}
            </section>
            <section class="work-with-us">
                <h5 class="title-strong">Want to work with us?</h5>
                <a href="mailto:business@swiftkind.com">business@swiftkind.com</a>
            </section>
        </article>
</main>
{% endblock %}