{% extends 'base.html' %}
{% load staticfiles wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}

{% load account_tags %}

{% block content %}
<main>
    <article class="blog">
        <div class="blog--header">
            {% if page.main_image %}
                {% image page.main_image fill-1965x490 as hero_img %}
                <div class="blog--banner" style="background-image: url({{ hero_img.url }})"></div>
            {% endif %}
            <small class="footnote">Credit:
                {% if page.main_image.source %}
                Greg Baker/Getty Images #TODO: get image source
                {% endif %}</small>
            <div class="blog--meta container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>{{ page.title }}</h1>
                        <div class="catergory-tags">
                            {% for tag in page.tags.all %}
                                <a href="{% routablepageurl request.site.root_page.specific 'tag_archive' tag %}">#{{tag}}</a>
                            {% endfor %}
                        </div>
                        <p>{{ page.last_published_at | date:"M d, Y" }}</p>
                        <p>{{ page.read_time }}</p>
                    </div>
                    <div class="col-md-4 offset-md-2">
                        <div class="author-details">
                            <div class="avatar-sm mr-3" style="background-image: url('{% avatar_url page.owner %}')" data-rjs="2"> </div>
                            <div>
                                <h6 class="mb-0"><strong>{{ page.owner.fullname }}</strong></h6>
                                <p>{{ page.owner.position_verbose | title }}</p>
                                <div>
                                    <a href="">
                                        <img src="{% static 'images/icons/facebook-f.png' %}" class="img-fluid mr-2" data-rjs="3">
                                    </a>
                                    <a href="">
                                        <img src="{% static 'images/icons/twitter.png' %}" class="img-fluid" data-rjs="3">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog--content">
            {{ page.body | richtext }}
        </div>
    </article>
</main>
{% endblock %}