{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main >
        <article class="blog">
            <div class="blog--header">
                <div class="blog--banner" style="background-image: url({% static 'images/blog/rahul-bhogal-1601597-unsplash.jpg' %})" data-rjs="2"></div>
                <small class="footnote">Credit: Greg Baker/Getty Images</small>
                <div class="blog--meta container">
                   <div class="row">
                       <div class="col-md-6">
                            <h1>Transforming JavaScript arrays with array.map</h1>
                            <div class="catergory-tags">
                                <a href="">#django</a>
                                <a href="">#python</a>
                                <a href="">#heroku</a>
                            </div>
                            <p>May 17, 2019</p>
                       </div>
                       <div class="col-md-4 offset-md-2">
                           <div class="author-details">
                               <div class="avatar-sm mr-3" style="background-image: url({% static 'images/team/josh-dellosa.png' %})" data-rjs="2"> </div>
                               <div>
                                   <h6 class="mb-0"><strong>Josh Dellosa</strong></h6>
                                   <p>Business Development Consultant</p>
                                   <div>
                                       <a href="">
                                           <img src="{% static 'images/icons/facebook-f.png' %}" class="img-fluid mr-2" data-rjs="3">
                                       </a>
                                       <a href="">
                                           <img src="{% static 'images/icons/twitter.png' %}" class="img-fluid" data-rjs="3">
                                       </a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

                </div>
            </div>
            <div class="blog--content">
                <p>Despite the turmoil, Trump continues to insist that the U.S. is winning the trade war, and that American farmers will soon reap the benefits of his hardball tactics. What’s more, Trump tweeted this week that <u>there’s “no reason” that U.S. consumers</u> will need to actually pay the tariffs; they can always just buy goods from “non-Tariffed” nations. But the president’s <strong><i>optimism is at odds even with many</i></strong> of his own advisers: Larry Kudlow, the director of Trump’s National Economic Council, said recently that “both sides” <s>would suffer</s> from the stalemate.</p>
                <p>One thing we know for certain: In the short run, almost everyone suffers from a trade war. When the U.S. places tariffs on China’s imports, companies must pay an additional tax on all products that they buy from that country. In theory, there are different possible effects of this tax. Importers could pass the full burden of the tax onto consumers, in the form of higher prices; importers could pass some of the burden onto consumers and absorb some of the burden themselves (reducing their profit margins); or exporting Chinese firms, faced with lower demand from U.S. consumers, could be forced to reduce their prices, bearing some of the burden themselves.</p>
                <blockquote>
                    One thing we know for certain: In the short run, almost everyone suffers from a trade war. 
                </blockquote>
                <img src="{% static 'images/blog/leone-venter-693463-unsplash.jpg' %}" class="img-fluid" data-rjs="3">
                <p class="text-center">
                    <small class="footnote">Credit: Greg Baker/Getty Images</small>
                </p>
                <p>Despite the turmoil, Trump continues to insist that the U.S. is winning the trade war, and that American farmers will soon reap the benefits of his hardball tactics. What’s more, Trump tweeted this week that <u>there’s “no reason” that U.S. consumers</u> will need to actually pay the tariffs; they can always just buy goods from “non-Tariffed” nations. But the president’s <strong><i>optimism is at odds even with many</i></strong> of his own advisers: Larry Kudlow, the director of Trump’s National Economic Council, said recently that “both sides” <s>would suffer</s> from the stalemate.</p>
                <code>
                    var rellax = new Rellax(‘.rellax’);

                    (function() {

                        var c = document.getElementById(‘bubbles’),
                </code>
            </div>
            <div class="author-details">
                
            </div>
        </article>
     </main>
{% endblock %}