.contact-us {
    padding-top: $spacing-xxxlg;
    position: relative;

    &:before {
        content: "";
        background-image: linear-gradient(119deg, #ffffff, rgba(255, 255, 255, 0));
        position: absolute;
        height: torem(500);
        width: 100%;
        top:0;
        z-index: -1;
    }
    h2{
        font-size: torem(45);
        line-height: 1;
    }
    .map {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;

    }

    &--email {
        @include flexbox();
        @include flex-direction(column);
        padding-bottom: $spacing-xxxlg;
        z-index: 99;
        a {
            font-size: $h4;
            font-family: $volte-md;
            margin-top: 1rem;
            margin-bottom: 2rem;
            position: relative;
             letter-spacing: -0.4px;

            &:before {
                content: "";
                width: torem(340);
                height: 1px;
                background-color: rgba($charcoal-grey, 0.3);
                display: block;
                left: 0;
                right: 0;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

footer {
    padding-bottom: 2rem;

    .address {
        max-width: 30%;
        line-height: 1.67;
         font-family: $volte-md;
    }

    a {
        font-size: $small;
        font-family: $volte-md;
    }
}