{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main>
    <article class="process">
        <section class="container hero">
            <div class="hero--content">
                <div class="w-75">
                    <h3>Our Strategy</h3>
                    <h1 class="hero-text h2">From Idea to Digital Product</h1>
                </div>
                <img src="{% static 'images/david-billings-1528554-unsplash.png' %}" class="clip" data-rjs="3">

            </div>
        </section>
        <section class="process-stages container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h3 class="title-strong mb-4">Phase 1 — Client Inquiry</h3>
                    <p>A carefully constructed marketing campaign can deliver serious sales revenue, but before it can run like a well-oiled machine, marketers need to answer a series of crucial questions that will ultimately determine how customers click, share, and buy.</p>
                    <p>
                        <span class="title-strong">Project Specifications —</span> Unfortunately, most of the marketing businesses have done to date failed to meet the acid test – the only test that counts to generate more profits than it costs. Which begs the question: why does most marketing don’t work? Because it falls victim to a series of myths. Here are the most common myths about marketing in the enterprise:
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <h3 class="title-strong mb-4">Phase 2 —  Execution</h3>
                    <p>A carefully constructed marketing campaign can deliver serious sales revenue, but before it can run like a well-oiled machine, marketers need to answer a series of crucial questions that will ultimately determine how customers click, share, and buy.</p>
                    <p>
                        <span class="title-strong">Experience Development —</span> Unfortunately, most of the marketing businesses have done to date failed to meet the acid test – the only test that counts to generate more profits than it costs. Which begs the question: why does most marketing don’t work? Because it falls victim to a series of myths. Here are the most common myths about marketing in the enterprise:
                    </p>
                    <p>
                        <span class="title-strong">Back-end Development —</span> Unfortunately, most of the marketing businesses have done to date failed to meet the acid test – the only test that counts to generate more profits than it costs. Which begs the question: why does most marketing don’t work? Because it falls victim to a series of myths. Here are the most common myths about marketing in the enterprise:
                    </p>
                    <p>
                        <span class="title-strong">Integration —</span> Unfortunately, most of the marketing businesses have done to date failed to meet the acid test – the only test that counts to generate more profits than it costs. Which begs the question: why does most marketing don’t work? Because it falls victim to a series of myths. Here are the most common myths about marketing in the enterprise:
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <h3 class="title-strong mb-4">Phase 3 —  Delivery</h3>
                    <p>A carefully constructed marketing campaign can deliver serious sales revenue, but before it can run like a well-oiled machine, marketers need to answer a series of crucial questions that will ultimately determine how customers click, share, and buy.</p>
                    <p>
                        <span class="title-strong">Product Delivery—</span> Unfortunately, most of the marketing businesses have done to date failed to meet the acid test – the only test that counts to generate more profits than it costs. Which begs the question: why does most marketing don’t work? Because it falls victim to a series of myths. Here are the most common myths about marketing in the enterprise:
                    </p>
                    <p>
                        <span class="title-strong">Maintenance —</span> Unfortunately, most of the marketing businesses have done to date failed to meet the acid test – the only test that counts to generate more profits than it costs. Which begs the question: why does most marketing don’t work? Because it falls victim to a series of myths. Here are the most common myths about marketing in the enterprise:
                    </p>
                </div>
            </div>
        </section>
        <section class="team-represent container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="team-photo"></div>
                </div>
                <div class="col-md-5 offset-5">
                    <h5 class="mb-5">A small team of keen, specialized and diverse people believing that our works could improve people’s daily lives. Fuelled by our passion for our work, we pursue learning to keep up with the best practices and industry standards.</h5>
                </div>
            </div>
        </section>
        <section class="standpoint container">
            <div class="row pb-5">
                <div class="text-center col-md-10 offset-1">
                    <h4 class="title-strong mb-4">Our Standpoint</h4>
                    <p class="standpoint--statement">We differentiate ourselves by being extremely attentive to our clients. Helping them in any way we can even if it doesn’t benefit us immediately. Because that’s what our clients are going to remember.</p>
                    <p><span class="title-strong">- Earvin Gemenez</span>, CEO of Swiftkind</p>
                </div>
            </div>
        </section>
        <section class="logo--meaning">
            <div class="container">
                <h6 class="title-strong">Our logo tells our story...</h6>
                <div class="row py-5">
                    <div class="col-md-5">
                        <img src="{% static 'images/agile.svg' %}" class="logo--element">
                        <h4 class="title-strong">We are agile</h4>
                        <p>We value small things that matter. We minimize the complex stuff to make things easier and workable in everything we do and every people we deal with.</p>
                    </div>
                    <div class="col-md-5 offset-1">
                        <img src="{% static 'images/security.svg' %}" class="logo--element">
                        <h4 class="title-strong">Errors should not pass silently.</h4>
                        <p>We value trust and Integrity is a must. We keep that by making sure things are extremely transparent.</p>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-md-5">
                        <img src="{% static 'images/quality.svg' %}" class="logo--element">
                        <h4 class="title-strong">Quality over quantity</h4>
                        <p>Easier said than done but we rather be working with one or a few just to make sure we get things right.</p>
                    </div>
                    <div class="col-md-5 offset-1">
                        <img src="{% static 'images/breakthrough.svg' %}" class="logo--element">
                        <h4 class="title-strong">Make it better, everyday.</h4>
                        <p>It’s a cycle we always do. Everyday, there’s a room to learn something new and work for a lot better tomorrow.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-us">
            <iframe src="https://snazzymaps.com/embed/27006" width="100%" height="500px" style="border:none;" class="map"></iframe>
            <div class="container">
                <h2 class="title-strong">Let’s talk about the future!</h2>
                <h6 class="mb-4">Or maybe start a project with us?</h6>
                    <div class="contact-us--email">
                       
                        <a href="">business@swiftkind.com</a>
                    </div>
            </div>
        </section>
    </article>
</main>
{% endblock %}
