{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main>
    <article class="process">
        <section class="container hero">
            <div class="hero--content">
                <div class="w-75 d-none d-md-block">
                    <h4 class="wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.3s">Our Strategy</h4>
                    <h1 class="hero-text h2 wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.3s">Offering slick swift approach</h1>
                </div>
                <img src="{% static 'images/david-billings-1528554-unsplash.png' %}" class="rellax clip wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="0.3s" data-rjs="3" data-rellax-speed="-5">
                <div class="w-100 d-block d-md-none hero--content-copy">
                    <h4 class="wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.3s">Our Strategy</h4>
                    <h1 class="hero-text h2 wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.3s">From Idea to Digital Product</h1>
                </div>

            </div>
        </section>
        <section class="process-stages">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-lg-6">
                        <h3 class="title-strong mb-4 wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.3s">Phase 1 — Discover</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="0.3s">We provide solutions based on your needs.</p>
                        <p class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.3s">
                            <span class="title-strong">Got ideas but having a hard time executing it? </span> We’ve got you covered! Swiftkind provides <span class="text-emp"> In-house development.</span> We have a pool of talented Software Engineers ready to create, design, and develop your ideas into reality.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.3s">
                            <span class="title-strong">Need more workforce to develop and execute your ideas? </span> The force is with us! Swiftkind is ready to support your workforce needs. You can <span class="text-emp"> outsource </span> fully equipped Software Engineers from Swiftkind.
                        </p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-8 col-lg-6">
                        <h3 class="title-strong mb-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.3s">Phase 2 —  Build</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.3s">We get the job done swiftly. We breakdown and understand your needs into pieces to rapidly develop your ideas. We use Agile process, that is why constant interaction is guaranteed while building your masterpiece.</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h3 class="title-strong mb-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.3s">Phase 3 —  Deploy</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.3s">We deploy according to your preference.</p>
                    </div>
                </div>
            </div>
            <div class="beehive wow fadeIn" data-wow-delay="2s" data-wow-duration="0.3s">
                <svg xmlns="http://www.w3.org/2000/svg" width="664.69" height="943.266" viewBox="0 0 664.69 943.266">
                <defs>
                    <style>
                        .cls-1{fill:url(#linear-gradient)}.cls-2{fill:none}
                    </style>
                    <linearGradient id="linear-gradient" x1=".5" x2=".5" y2="1" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#dce5f4" stop-opacity=".282"/>
                        <stop offset="1" stop-color="#bfc2e6" stop-opacity=".706"/>
                    </linearGradient>
                </defs>
                <g id="beehive" transform="translate(-869.128 -892)">
                    <g id="Group_495" data-name="Group 495" transform="translate(869.128 1280.202)">
                        <ellipse id="Ellipse_172" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_490" data-name="Group 490" transform="translate(0 55.389)">
                            <g id="Group_489" data-name="Group 489">
                                <ellipse id="Ellipse_175" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(185.208 105.586)"/>
                                <ellipse id="Ellipse_176" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 176" rx="8.542" ry="8.542"/>
                            </g>
                        </g>
                        <g id="Group_491" data-name="Group 491" transform="translate(0 55.389)">
                            <g id="Group_489-2" data-name="Group 489">
                                <ellipse id="Ellipse_175-2" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(0 105.586)"/>
                                <ellipse id="Ellipse_176-2" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_173" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 173" rx="8.542" ry="8.542" transform="translate(92.604)"/>
                        <ellipse id="Ellipse_174" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(92.604 214.633)"/>
                        <path id="Rectangle_139" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 140.022)"/>
                        <g id="Group_492" data-name="Group 492" transform="translate(.288 88.095)">
                            <path id="Rectangle_143" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                            <path id="Rectangle_145" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145" transform="translate(191.324)"/>
                        </g>
                        <g id="Group_493" data-name="Group 493" transform="rotate(-120 126.433 73.496)">
                            <path id="Rectangle_143-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143" transform="translate(197.324)"/>
                            <path id="Rectangle_145-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <g id="Group_494" data-name="Group 494" transform="rotate(-60 176.016 71.116)">
                            <path id="Rectangle_145-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145" transform="translate(0 .685)"/>
                        </g>
                        <path id="Rectangle_140" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 32.705)"/>
                        <g id="Group_487" data-name="Group 487" transform="rotate(-120 61.113 70.98)">
                            <path id="Rectangle_141" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488" data-name="Group 488" transform="rotate(-60 79.995 13.85)">
                            <path id="Rectangle_141-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_496" data-name="Group 496" transform="translate(1241.525 1618.841)">
                        <ellipse id="Ellipse_172-2" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 91.802)"/>
                        <g id="Group_490-2" data-name="Group 490" transform="translate(0 39.875)">
                            <g id="Group_489-3" data-name="Group 489">
                                <ellipse id="Ellipse_175-3" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(185.208 105.586)"/>
                                <ellipse id="Ellipse_176-3" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 176" rx="8.542" ry="8.542"/>
                            </g>
                        </g>
                        <g id="Group_491-2" data-name="Group 491" transform="translate(0 39.875)">
                            <g id="Group_489-4" data-name="Group 489">
                                <ellipse id="Ellipse_175-4" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(0 105.586)"/>
                                <ellipse id="Ellipse_176-4" cx="8.542" cy="8.542" class="cls-2 ellipse" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-2" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(92.604 199.119)"/>
                        <path id="Rectangle_139-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 124.508)"/>
                        <g id="Group_492-2" data-name="Group 492" transform="translate(.288 72.58)">
                            <path id="Rectangle_143-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                            <path id="Rectangle_145-4" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145" transform="translate(197.324)"/>
                        </g>
                        <g id="Group_493-2" data-name="Group 493" transform="rotate(-120 121.955 65.74)">
                            <path id="Rectangle_145-5" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <g id="Group_494-2" data-name="Group 494" transform="rotate(-60 163.858 65.573)">
                            <path id="Rectangle_145-6" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <g id="Group_487-2" data-name="Group 487" transform="rotate(-120 56.634 63.222)">
                            <path id="Rectangle_142-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-2" data-name="Group 488" transform="rotate(-60 66.56 6.093)">
                            <path id="Rectangle_141-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-4" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_497" data-name="Group 497" transform="translate(1149.795 1459.717)">
                        <ellipse id="Ellipse_172-3" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 91.802)"/>
                        <g id="Group_490-3" data-name="Group 490" transform="translate(0 39.875)">
                            <g id="Group_489-5" data-name="Group 489">
                                <ellipse id="Ellipse_176-5" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 176" rx="8.542" ry="8.542"/>
                            </g>
                        </g>
                        <g id="Group_491-3" data-name="Group 491" transform="translate(0 39.875)">
                            <g id="Group_489-6" data-name="Group 489">
                                <ellipse id="Ellipse_175-5" cx="8.542" cy="8.542" class="cls-1 ellipse" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(0 105.586)"/>
                                <ellipse id="Ellipse_176-6" cx="8.542" cy="8.542" class="cls-2 ellipse" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208)"/>
                            </g>
                        </g>
                        <path id="Rectangle_139-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 124.508)"/>
                        <g id="Group_492-3" data-name="Group 492" transform="translate(.288 72.58)">
                            <path id="Rectangle_143-4" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-3" data-name="Group 493" transform="rotate(-120 23.293 8.777)">
                            <path id="Rectangle_143-5" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-3" data-name="Group 494" transform="rotate(-60 163.858 65.573)">
                            <path id="Rectangle_145-7" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 17.191)"/>
                        <g id="Group_487-3" data-name="Group 487" transform="rotate(-120 56.634 63.222)">
                            <path id="Rectangle_141-4" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-5" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-3" data-name="Group 488" transform="rotate(-60 66.56 6.093)">
                            <path id="Rectangle_141-5" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                        </g>
                    </g>
                    <g id="Group_498" data-name="Group 498" transform="translate(1241.525 1280)">
                        <ellipse id="Ellipse_172-4" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_490-4" data-name="Group 490" transform="translate(0 159.244)">
                            <g id="Group_489-7" data-name="Group 489">
                                <ellipse id="Ellipse_176-7" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 176" rx="8.542" ry="8.542"/>
                            </g>
                        </g>
                        <g id="Group_491-4" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-8" data-name="Group 489">
                                <ellipse id="Ellipse_175-6" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 175" rx="8.542" ry="8.542"/>
                                <ellipse id="Ellipse_176-8" cx="8.542" cy="8.542" class="cls-2" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-3" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(92.604)"/>
                        <path id="Rectangle_139-4" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 32.631)"/>
                        <g id="Group_492-4" data-name="Group 492" transform="translate(.288 84.559)">
                            <path id="Rectangle_143-6" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-4" data-name="Group 493" transform="rotate(120 -22.07 128.857)">
                            <path id="Rectangle_143-7" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-4" data-name="Group 494" transform="rotate(60 27.772 72.061)">
                            <path id="Rectangle_145-8" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 139.948)"/>
                        <g id="Group_487-4" data-name="Group 487" transform="rotate(120 42.252 128.07)">
                            <path id="Rectangle_141-6" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-6" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                        <g id="Group_488-4" data-name="Group 488" transform="rotate(60 23.413 185.2)">
                            <path id="Rectangle_141-7" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-7" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                    </g>
                    <g id="Group_507" data-name="Group 507" transform="translate(1241.525 1280)">
                        <g id="Group_490-5" data-name="Group 490" transform="translate(185.208 159.244)">
                            <g id="Group_489-9" data-name="Group 489">
                                <circle id="Ellipse_176-9" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 176"/>
                            </g>
                        </g>
                        <g id="Group_491-5" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-10" data-name="Group 489">
                                <circle id="Ellipse_175-7" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 175" transform="translate(185.208)"/>
                                <circle id="Ellipse_176-10" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-4" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(92.604)"/>
                        <g id="Group_492-5" data-name="Group 492" transform="translate(197.612 84.559)">
                            <path id="Rectangle_143-8" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-5" data-name="Group 493" transform="rotate(60 -70.89 242.949)">
                            <path id="Rectangle_143-9" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-5" data-name="Group 494" transform="rotate(120 76.593 71.895)">
                            <path id="Rectangle_145-9" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                    </g>
                    <g id="Group_506" data-name="Group 506" transform="translate(1238.525 1501)">
                        <ellipse id="Ellipse_172-5" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_490-6" data-name="Group 490" transform="translate(185.208 159.244)">
                            <g id="Group_489-11" data-name="Group 489">
                                <circle id="Ellipse_176-11" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 176"/>
                            </g>
                        </g>
                        <g id="Group_491-6" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-12" data-name="Group 489">
                                <circle id="Ellipse_175-8" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 175" transform="translate(185.208)"/>
                                <circle id="Ellipse_176-12" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-5" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(94.604 -3)"/>
                        <path id="Rectangle_139-5" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 32.632)"/>
                        <g id="Group_492-6" data-name="Group 492" transform="translate(197.612 84.559)">
                            <path id="Rectangle_143-10" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-6" data-name="Group 493" transform="rotate(60 -70.89 242.949)">
                            <path id="Rectangle_143-11" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-6" data-name="Group 494" transform="rotate(120 76.593 71.895)">
                            <path id="Rectangle_145-10" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-4" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 139.948)"/>
                        <g id="Group_487-5" data-name="Group 487" transform="rotate(60 23.411 185.2)">
                            <path id="Rectangle_141-8" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-8" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-5" data-name="Group 488" transform="rotate(120 42.252 128.07)">
                            <path id="Rectangle_141-9" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-9" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_508" data-name="Group 508" transform="translate(1331.525 1113)">
                        <ellipse id="Ellipse_172-6" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_490-7" data-name="Group 490" transform="translate(185.208 159.244)">
                            <g id="Group_489-13" data-name="Group 489">
                                <circle id="Ellipse_176-13" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 176"/>
                            </g>
                        </g>
                        <g id="Group_491-7" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-14" data-name="Group 489">
                                <circle id="Ellipse_175-9" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 175" transform="translate(185.208)"/>
                                <circle id="Ellipse_176-14" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-6" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(94.604 -3)"/>
                        <path id="Rectangle_139-6" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 32.632)"/>
                        <g id="Group_492-7" data-name="Group 492" transform="translate(197.612 84.559)">
                            <path id="Rectangle_143-12" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-7" data-name="Group 493" transform="rotate(60 -70.89 242.949)">
                            <path id="Rectangle_143-13" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-7" data-name="Group 494" transform="rotate(120 76.593 71.895)">
                            <path id="Rectangle_145-11" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-5" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 139.948)"/>
                        <g id="Group_487-6" data-name="Group 487" transform="rotate(60 23.411 185.2)">
                            <path id="Rectangle_141-10" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-10" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-6" data-name="Group 488" transform="rotate(120 42.252 128.07)">
                            <path id="Rectangle_141-11" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-11" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_509" data-name="Group 509" transform="translate(1240.525 951)">
                        <ellipse id="Ellipse_172-7" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_491-8" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-15" data-name="Group 489">
                                <circle id="Ellipse_175-10" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 175" transform="translate(185.208)"/>
                                <circle id="Ellipse_176-15" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-7" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(94.604 -3)"/>
                        <g id="Group_492-8" data-name="Group 492" transform="translate(197.612 84.559)">
                            <path id="Rectangle_143-14" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-8" data-name="Group 493" transform="rotate(60 -70.89 242.949)">
                            <path id="Rectangle_143-15" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-8" data-name="Group 494" transform="rotate(120 76.593 71.895)">
                            <path id="Rectangle_145-12" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-6" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 139.948)"/>
                        <g id="Group_487-7" data-name="Group 487" transform="rotate(60 23.411 185.2)">
                            <path id="Rectangle_142-12" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-7" data-name="Group 488" transform="rotate(120 42.252 128.07)">
                            <path id="Rectangle_141-12" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-13" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_501" data-name="Group 501" transform="translate(1142.525 1120)">
                        <ellipse id="Ellipse_172-8" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_491-9" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-16" data-name="Group 489">
                                <circle id="Ellipse_175-11" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 175" transform="translate(185.208)"/>
                                <circle id="Ellipse_176-16" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-8" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(92.604)"/>
                        <path id="Rectangle_139-7" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 32.631)"/>
                        <g id="Group_492-9" data-name="Group 492" transform="translate(197.612 84.559)">
                            <path id="Rectangle_143-16" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-9" data-name="Group 494" transform="rotate(120 76.593 71.895)">
                            <path id="Rectangle_145-13" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-7" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 139.948)"/>
                        <g id="Group_487-8" data-name="Group 487" transform="rotate(60 23.411 185.2)">
                            <path id="Rectangle_141-13" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-14" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-8" data-name="Group 488" transform="rotate(120 42.252 128.07)">
                            <path id="Rectangle_141-14" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-15" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_504" data-name="Group 504" transform="translate(1054.129 963)">
                        <ellipse id="Ellipse_172-9" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(93 107.317)"/>
                        <g id="Group_491-10" data-name="Group 491" transform="translate(.396 53.658)">
                            <g id="Group_489-17" data-name="Group 489">
                                <circle id="Ellipse_176-17" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-9" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(93)"/>
                        <ellipse id="Ellipse_178" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 178" rx="8.542" ry="8.542" transform="translate(0 54)"/>
                        <path id="Rectangle_139-8" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(99.346 32.631)"/>
                        <g id="Group_492-10" data-name="Group 492" transform="translate(6.008 84.559)">
                            <path id="Rectangle_146" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 146"/>
                        </g>
                        <g id="Group_494-10" data-name="Group 494" transform="rotate(120 77.75 73.672)">
                            <path id="Rectangle_145-14" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145" transform="translate(0 3.326)"/>
                            <path id="Rectangle_148" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 148" transform="translate(189.76)"/>
                        </g>
                        <g id="Group_505" data-name="Group 505" transform="rotate(60 31.301 78.174)">
                            <path id="Rectangle_145-15" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                            <path id="Rectangle_148-2" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 148" transform="translate(189.76 3.326)"/>
                        </g>
                        <path id="Rectangle_140-8" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(99.346 139.948)"/>
                        <g id="Group_487-9" data-name="Group 487" transform="rotate(60 23.61 185.542)">
                            <path id="Rectangle_141-15" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-16" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-9" data-name="Group 488" transform="rotate(120 42.45 128.185)">
                            <path id="Rectangle_141-16" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-17" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_510" data-name="Group 510" transform="translate(1150.129 892)">
                        <ellipse id="Ellipse_172-10" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(93 107.317)"/>
                        <g id="Group_491-11" data-name="Group 491" transform="translate(.396 53.658)">
                            <g id="Group_489-18" data-name="Group 489">
                                <circle id="Ellipse_175-12" cx="8.542" cy="8.542" r="8.542" class="cls-1" data-name="Ellipse 175" transform="translate(185.208)"/>
                                <circle id="Ellipse_176-18" cx="8.542" cy="8.542" r="8.542" class="cls-2" data-name="Ellipse 176" transform="translate(0 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-10" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(93)"/>
                        <path id="Rectangle_139-9" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(99.346 32.631)"/>
                        <g id="Group_492-11" data-name="Group 492" transform="translate(6.008 84.559)">
                            <path id="Rectangle_143-17" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143" transform="translate(192)"/>
                        </g>
                        <g id="Group_494-11" data-name="Group 494" transform="rotate(120 77.75 73.672)">
                            <path id="Rectangle_145-16" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145" transform="translate(0 3.326)"/>
                        </g>
                        <g id="Group_505-2" data-name="Group 505" transform="rotate(60 31.301 78.174)">
                            <path id="Rectangle_145-17" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                            <path id="Rectangle_148-3" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 148" transform="translate(189.76 3.326)"/>
                        </g>
                        <path id="Rectangle_140-9" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(99.346 139.948)"/>
                        <g id="Group_487-10" data-name="Group 487" transform="rotate(60 23.61 185.542)">
                            <path id="Rectangle_142-18" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                    </g>
                    <g id="Group_499" data-name="Group 499" transform="translate(1054.32 1280)">
                        <ellipse id="Ellipse_172-11" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107.317)"/>
                        <g id="Group_491-12" data-name="Group 491" transform="translate(0 53.658)">
                            <g id="Group_489-19" data-name="Group 489">
                                <ellipse id="Ellipse_176-19" cx="8.542" cy="8.542" class="cls-2" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208 105.586)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-11" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(92.604)"/>
                        <path id="Rectangle_139-10" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 32.632)"/>
                        <g id="Group_493-9" data-name="Group 493" transform="rotate(120 -22.07 128.858)">
                            <path id="Rectangle_143-18" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-12" data-name="Group 494" transform="rotate(60 27.772 72.061)">
                            <path id="Rectangle_145-18" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-10" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 139.948)"/>
                        <g id="Group_487-11" data-name="Group 487" transform="rotate(120 42.252 128.07)">
                            <path id="Rectangle_141-17" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-19" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                        <g id="Group_488-10" data-name="Group 488" transform="rotate(60 23.413 185.2)">
                            <path id="Rectangle_141-18" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-20" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                    </g>
                    <g id="Group_502" data-name="Group 502" transform="translate(962.32 1119.802)">
                        <ellipse id="Ellipse_172-12" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 107)"/>
                        <ellipse id="Ellipse_177" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 177" rx="8.542" ry="8.542" transform="translate(92.604)"/>
                        <g id="Group_490-8" data-name="Group 490" transform="translate(0 55.072)">
                            <g id="Group_489-20" data-name="Group 489">
                                <ellipse id="Ellipse_176-20" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 176" rx="8.542" ry="8.542"/>
                            </g>
                        </g>
                        <g id="Group_491-13" data-name="Group 491" transform="translate(0 55.072)">
                            <g id="Group_489-21" data-name="Group 489">
                                <ellipse id="Ellipse_175-13" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(0 105.586)"/>
                                <ellipse id="Ellipse_176-21" cx="8.542" cy="8.542" class="cls-2" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208)"/>
                            </g>
                        </g>
                        <ellipse id="Ellipse_174-12" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 174" rx="8.542" ry="8.542" transform="translate(184.604 54.317)"/>
                        <path id="Rectangle_139-11" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 139.705)"/>
                        <g id="Group_492-12" data-name="Group 492" transform="translate(.288 87.778)">
                            <path id="Rectangle_143-19" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-10" data-name="Group 493" transform="rotate(-120 27.68 16.376)">
                            <path id="Rectangle_143-20" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-13" data-name="Group 494" transform="rotate(-60 177.02 73.172)">
                            <path id="Rectangle_145-19" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-11" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 32.389)"/>
                        <g id="Group_487-12" data-name="Group 487" transform="rotate(-120 61.022 70.82)">
                            <path id="Rectangle_141-19" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-21" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-11" data-name="Group 488" transform="rotate(-60 79.72 13.692)">
                            <path id="Rectangle_141-20" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-22" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_503" data-name="Group 503" transform="translate(962.32 1454)">
                        <ellipse id="Ellipse_172-13" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 91.802)"/>
                        <g id="Group_491-14" data-name="Group 491" transform="translate(0 39.875)">
                            <g id="Group_489-22" data-name="Group 489">
                                <ellipse id="Ellipse_175-14" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 175" rx="8.542" ry="8.542" transform="translate(0 105.586)"/>
                               
                            </g>
                        </g>
                        <path id="Rectangle_139-12" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 124.508)"/>
                        <g id="Group_492-13" data-name="Group 492" transform="translate(.288 72.58)">
                            <path id="Rectangle_143-21" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-14" data-name="Group 494" transform="rotate(-60 163.858 65.573)">
                            <path id="Rectangle_145-20" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                        </g>
                        <path id="Rectangle_140-12" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 17.191)"/>
                        <g id="Group_487-13" data-name="Group 487" transform="rotate(-120 56.634 63.222)">
                            <path id="Rectangle_141-21" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-23" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                        <g id="Group_488-12" data-name="Group 488" transform="rotate(-60 66.56 6.093)">
                            <path id="Rectangle_141-22" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-24" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                    </g>
                    <g id="Group_500" data-name="Group 500" transform="translate(1056.192 1615.843)">
                        <ellipse id="Ellipse_172-14" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 172" rx="8.542" ry="8.542" transform="translate(92.604 95.338)"/>
                        <ellipse id="Ellipse_179" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 179" rx="8.542" ry="8.542" transform="translate(92.604 202.338)"/>
                        <g id="Group_490-9" data-name="Group 490" transform="translate(0 147.265)">
                            <g id="Group_489-23" data-name="Group 489">
                                <ellipse id="Ellipse_176-23" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 176" rx="8.542" ry="8.542"/>
                            </g>
                        </g>
                        <g id="Group_491-15" data-name="Group 491" transform="translate(0 41.68)">
                            <g id="Group_489-24" data-name="Group 489">
                                <ellipse id="Ellipse_175-15" cx="8.542" cy="8.542" class="cls-1" data-name="Ellipse 175" rx="8.542" ry="8.542"/>
                                <ellipse id="Ellipse_176-24" cx="8.542" cy="8.542" class="cls-2" data-name="Ellipse 176" rx="8.542" ry="8.542" transform="translate(185.208 105.586)"/>
                            </g>
                        </g>
                        <path id="Rectangle_139-13" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 139" transform="translate(98.95 20.653)"/>
                        <g id="Group_492-14" data-name="Group 492" transform="translate(.288 72.58)">
                            <path id="Rectangle_143-22" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_493-11" data-name="Group 493" transform="rotate(120 -18.611 122.868)">
                            <path id="Rectangle_143-23" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 143"/>
                        </g>
                        <g id="Group_494-15" data-name="Group 494" transform="rotate(60 38.147 66.072)">
                            <path id="Rectangle_145-21" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 145"/>
                            <path id="Rectangle_149" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 149" transform="translate(200.322 -.969)"/>
                        </g>
                        <path id="Rectangle_140-13" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 140" transform="translate(98.95 127.969)"/>
                        <g id="Group_487-14" data-name="Group 487" transform="rotate(120 45.71 122.081)">
                            <path id="Rectangle_141-23" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141"/>
                            <path id="Rectangle_142-25" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142" transform="translate(0 107.317)"/>
                        </g>
                        <g id="Group_488-13" data-name="Group 488" transform="rotate(60 33.786 179.21)">
                            <path id="Rectangle_141-24" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 141" transform="translate(0 107.317)"/>
                            <path id="Rectangle_142-26" d="M0 0h4.393v59.065H0z" class="cls-1" data-name="Rectangle 142"/>
                        </g>
                    </g>
                </g>
            </svg>
            </div>
            

        </section>
        <section class="team-represent container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="team-photo rellax" data-rellax-speed="-2" data-rjs="3"></div>
                </div>
               
            </div>
        </section>
        <section class="standpoint  rellax" data-rellax-speed="0">
            <div class="container">
                <div class="row pb-5">
                    <div class="text-center col-md-10 offset-md-1 offset-0 fadeIn wow" data-wow-delay="0s" data-wow-duration="0.3s">
                        <h4 class="title-strong mb-4">Our Standpoint</h4>
                        <p class="standpoint--statement">We differentiate ourselves by being extremely attentive to our clients. Helping them in any way we can even if it doesn’t benefit us immediately. Because that’s what our clients are going to remember.</p>
                        <p><span class="title-strong">- Earvin Gemenez</span>, CEO of Swiftkind</p>
                    </div>
                </div>
            </div>
        </section>
        <section id='bubbles' class="rellax"data-rellax-speed="0"></section>
        <section class="logo--meaning" >
            <div class="container">
                <h6 class="title-strong wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.3s">Our logo tells our story...</h6>
                <div class="row py-5">
                    <div class="col-md-5">
                        <img src="{% static 'images/agile.svg' %}" class="logo--element wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.3s">
                        <h4 class="title-strong wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.3s">We are agile</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.3s">We value small things that matter. We minimize the complex stuff to make things easier and workable in everything we do and every people we deal with.</p>
                    </div>
                    <div class="col-md-5 offset-md-1 offset-0">
                        <img src="{% static 'images/security.svg' %}" class="logo--element wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.3s">
                        <h4 class="title-strong wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.3s">Errors should not pass silently.</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.3s">We value trust and Integrity is a must. We keep that by making sure things are extremely transparent.</p>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-md-5">
                        <img src="{% static 'images/quality.svg' %}" class="logo--element wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.3s">
                        <h4 class="title-strong wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.3s">Quality over quantity</h4>
                        <p class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.3s">Easier said than done but we rather be working with one or a few just to make sure we get things right.</p>
                    </div>
                    <div class="col-md-5 offset-md-1 offset-0">
                        <img src="{% static 'images/breakthrough.svg' %}" class="logo--element wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.3s">
                        <h4 class="title-strong wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.3s">Make it better, everyday.</h4>
                        <p class="wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="0.3s">It’s a cycle we always do. Everyday, there’s a room to learn something new and work for a lot better tomorrow.</p>
                    </div>
                </div>
            </div>
        </section>

        {% include 'includes/contact.html' %}

    </article>
</main>
{% endblock %}
