{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main>
    <article class="projects-page">
        <section class="projects container">
            <div class="swiper-container projects--swiper swiper__generic">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="projects--item">
                            <a href="" class="img-link">
                                <img src="{% static 'images/however.jpg' %}" class="animated projects--img" data-rjs="3">
                            </a>
                            
                            <div class="projects--item--content services--item">
                                <h2 class="title-strong">MarketPlace</h2>
                                <h6>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h6>
                                <p>Backend / API / UI/UX</p>
                                 <!-- Add Pagination -->
                                <div class="slide-details">
                                    <div class="swiper-pagination"></div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="projects--item">
                            <a href="" class="img-link">
                                <img src="{% static 'images/beaubay.jpg' %}" class="  animated projects--img" data-rjs="3">
                            </a>
                                <div class="projects--item--content services--item">
                                    <h2 class="title-strong">Beaubay</h2>
                                    <h6>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h6>
                                    <p>Backend / API / UI/UX</p>
                                     <!-- Add Pagination -->
                                    <div class="slide-details">
                                        <div class="swiper-pagination"></div>
                                        
                                    </div>
                                </div>
                           

                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
            </div>
        </section>
    </article>
</main>
{% endblock %}