{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main>
    <article class="projects-page">
        <section class="projects container">
            <div class="swiper-container projects--swiper swiper__generic">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="projects--item">
                            <img src="{% static 'images/david-billings-1528554-unsplash.png' %}" class="clip  animated projects--img" data-rjs="3">
                            <a href="" class="more-details">Details
                                <img src="{% static 'images/arrow-right.svg' %}" class="arrow-right">
                            </a>
                            <div class="projects--item--content services--item">
                                <h2 class="title-strong">Beaubay</h2>
                                <h6>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h6>
                                <p>Backend / API / UI/UX</p>
                                 <!-- Add Pagination -->
                                <div class="slide-details">
                                    <div class="swiper-pagination"></div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="projects--item">
                            <img src="{% static 'images/jd-chow-1531217-unsplash.png' %}" class="clip  animated projects--img" data-rjs="3">
                            <a href="" class="more-details">Details
                                <img src="{% static 'images/arrow-right.svg' %}" class="arrow-right">
                            </a>
                            <div class="projects--item--content services--item">
                                <h2 class="title-strong">Beaubay</h2>
                                <h6>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h6>
                                <p>Backend / API / UI/UX</p>
                                 <!-- Add Pagination -->
                                <div class="slide-details">
                                    <div class="swiper-pagination"></div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
            </div>
        </section>
    </article>
</main>
{% endblock %}