.homepage {



    .services {
        padding: $spacing-xxxlg;

        @include tablet{
            padding:0;
        }
        .boxed {
            padding: $spacing-xlg;
            background: rgba($white, 0.8);
            @include tablet{
                padding-right:0;
            }
        }

        &--container {
            .svc-title {
                color: $accent-color;
                font-family: $volte-md;
            }
        }
        &--row_wrap{
            @include align-items(center);
            @include tablet{
                 @include align-items(flex-start);
            }
        }

        &--title {
            font-size: torem(45);
            letter-spacing: -1.1px;
            color: $charcoal-grey;
            line-height: 1;
            font-family: $volte-smb;

        }

        &--item {
            margin-bottom: $spacing-xlg;
            @include flexbox();
            @include align-items(start);

            img {
                margin-right: 1rem;
            }

            p {

                line-height: 1.88;
            }
        }

        &--swiper {
            margin-left: auto;
            margin-right: 0;

            .swiper {
                &-wrapper {}

                &-slide {
                    max-width: torem(420);
                }
            }
        }
    }



    .team {
        padding-top: $spacing-xxxlg;
        padding-bottom: $spacing-xxxlg;
        background: rgba($white, 0.7);
        &--member {
            @include flex-align-center();
            position: relative;

            &:after {
                content: "";
                background-image: url('../images/square-icon-sm.svg');
                width: torem(45);
                height: torem(45);
                position: absolute;
                left: 4rem;
                bottom: 0rem;
                opacity: 0;
                @include transition(opacity 0.3s ease);
            }


            img {
                margin-right: $spacing-xlg;
            }

            p {
                line-height: 1;
            }

            &:hover {
                &:after {
                    opacity: 1;
                    @include transition(opacity 0.3s ease);
                }
            }
        }
    }

    .hiring {
        padding:$spacing-xxxlg;
        background: $white;
        height: torem(524);
        width: 100%;
        background-image: url(../images/dscf-2331.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        @include flex-align-center();
        @include desktop-lg{
            height:torem(700);
            
        }
        &--content{
            max-width: 40%;
            margin-left: 10%;
        }
    }
    .clients{
        background: $white;
        padding:$spacing-xxxlg;
        &--content{
            max-width: 75%;
            margin: 0 auto;
           
        }

    }
    .testimony{ 
        margin:$spacing-xxxlg 0;
         padding:$spacing-xxxlg;
         text-align: center;
         background:$white;
         &--swiper{
             max-width: torem(700);
                
            .swiper-slide{
               margin: 0 auto 3rem;
               a{
                color: $accent-color;
               }
            }
            .swiper-pagination-bullet{
                width: torem(54);
              height: 2px;
              background-color: $charcoal-grey;
              opacity: 0.15;
              border-radius: 0;
              &-active{
                opacity: 1;
              }
            }
         }
    }
}


.box {}

.box1 {
    top: 30%;
    position: fixed;
    z-index: 0;
    left: 0;
    z-index: -1;
    display: none;
    @include mobile {}
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
}